
   *{
     padding: 0;
     margin: 0;
     box-sizing: content-box;
   }

   header{
     width: 100%;
     background-color: #4287f5;
   }

   footer{
      padding: 20px;
      background: rgb(21, 4, 98);
      color: white;
      margin-top: 50px;
   }
   
   footer dt {
     font-weight: bold;
   }
 
footer dd {
  margin-left: 0;
}

footer div {
text-align: right;

}