.little-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 70px;
}

.little-container > img {
    width: 70px;
    margin-right: 7px;
    border-radius: 50%;
}

.little-container h4 {
    margin-bottom: 15px;
}

.little-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}