header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ícone {
    height: 20px;
}
.bolo{
    height: 180px;
}

main{
    display: flex;
    flex-direction: row;
    flex: ;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    flex: 1px;
}

.botao{
    display: flex;
    flex-direction: row;
}

.vitrine {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    background-color: grey;
    flex: 1000px;
}

.bloco.produto{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    ;
}