.conteiner {
    display: grid;

    grid-template-columns: 
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas:
        "header header"
        "aside section"
        "footer footer";
}



header {
    width: 100%;
    background-color: mediumvioletred;
    font-size: 10px;
    grid-area: header;
}

aside {
    background: #f2d0e0;
    grid-area: aside;
}

section {
    background: white;
    grid-area: section;
}

footer {
    padding: 20px;
    background: mediumvioletred;
    grid-area: footer;
}

footer dt {
    font-weight: bold;



}

#rodape {


    display: flex;
    flex-direction: row;
    justify-content: center;
}